{% extends 'layout.html' %}
{% block content %}
    <div class="row" id='header-row'>
        <div class='col-md-12'>
            <h1 class="col-md-12">Dalibor Stakić</h1>
        </div>
        <div class='col-md-6'>
            <div class="border-text">
                <h2 class="heading-text">About</h2>
                <p class='info-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non neque vel dui faucibus volutpat. Vestibulum elementum dolor porta, tincidunt enim sit amet, sodales nisi. Ut volutpat luctus elementum. Sed sagittis a risus vel lobortis. Integer eget nibh vitae enim fermentum lobortis nec ac odio. Aliquam molestie vestibulum tincidunt. Aenean venenatis, nisl quis porta suscipit, purus odio mattis nisl, non convallis metus tellus sed erat. Nam bibendum ullamcorper posuere. Aenean eleifend orci ut nunc ultrices placerat. Phasellus volutpat sollicitudin lacus, eu feugiat urna auctor fringilla. Integer non metus non metus maximus dictum ac sit amet purus.</p>
            </div>
        </div>
        <div class='col-md-6'>
            <div class="border-text">
                <h2 class="heading-text">Contact</h2>
                <p class='info-text'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non neque vel dui faucibus volutpat. Vestibulum elementum dolor porta, tincidunt enim sit amet, sodales nisi. Ut volutpat luctus elementum. Sed sagittis a risus vel lobortis. Integer eget nibh vitae enim fermentum lobortis nec ac odio. Aliquam molestie vestibulum tincidunt. Aenean venenatis, nisl quis porta suscipit, purus odio mattis nisl, non convallis metus tellus sed erat. Nam bibendum ullamcorper posuere. Aenean eleifend orci ut nunc ultrices placerat. Phasellus volutpat sollicitudin lacus, eu feugiat urna auctor fringilla. Integer non metus non metus maximus dictum ac sit amet purus.</p>
            </div>
        </div>
    </div>
    <div class="row" id='github-row'>
        <div class="col-md-12">
            <h1 id=''>My GitHub Projects</h1>
        </div>
        <div class="col-md-6">
            Test
        </div>
        <div class="col-md-6">
            Img
        </div>
    </div>
{% endblock content %}
