.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.heading-text {
    text-align: center;
    color:#f5f5f5;
    font-size:3em;
}

h1 {
    color:#f5f5f5;
    text-align: center;
    font-size: 4em;
}

#header-row {
    background-image: url("../static/imgs/bgimg.jpg");
    padding:2rem;
}

.col-md-6 {
    padding: 2rem;
}

.info-text {
    color:#f5f5f5;
    font-size:1.2em;
    padding-top: 1rem;
}

.border-text {
    background: rgba(222, 205, 195, 0.2);
    border: 2px solid #f5f5f5;
    padding: 2em;
}

#about:hover {
    background: rgba(234, 84, 85, 0.5);
}

#contact:hover {
    background: rgba(45, 64, 89, 0.5);
}

#github-row {
    background-color: #ea5455;
    padding: 2rem;
}

#github-img {
    padding: 0;
    margin-top: 0;
}

.img-responsive {
    width: 100%;
}

footer {
    background-color: #2d4059;
    padding: 1rem;
    color: #f5f5f5;
}

a {
    color: #ea5455;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #f5f5f5;
}